doctype html
html
	head
		title 我要做
		link(href='static/style/index.css', rel='stylesheet', type='text/css')

	body
		div#header 我是header
		block content
			a(href='toAddPerson') 添加一个人
			div
				table
					tr
						td 姓名
						td 性别
						td 年龄
					-for(var item in allPerson)
						tr
							td=item.namecn
							td=item.sex
							td=item.age
		div#fotter 我是fotter